/* common style----> */
body{
    font-family: 'Lato', sans-serif;
}

.header{
    background: rgba(229, 84, 115, 0.10);
    padding: 15px 100px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content{
    max-width: 500px;
}

.header-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.primary-btn{
    border-radius: 8px;
    background: #E55473;    
    color: #fff;
    border:0;
    padding: 20px 43px;
    margin-left: 20px;
}


/* Main Part Styles----> */

.feature-part{
    align-items: center;
    margin: 130px;
    border-radius: 10px;

}

.feature-header{
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
}
.feature-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.feature-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

#pink-floral{
    border: 2px;
    border-radius: 300px 300px 0 0;
    padding: 30px 5px 5px 30px;
    width: 200px;
    height: 210px;
    background-color: rgba(167, 33, 98, 0.15);

}
#red-floral{
    border: 2px;
    border-radius: 300px 300px 0 0;
    padding: 30px 5px 0px 30px;
    width: 200px;
    height: 210px;
    background-color:rgba(5, 151, 160, 0.15);

}
#yellow-floral{
    border-radius: 300px 300px 0 0;
    padding: 15px 5px 15px 30px;
    width: 200px;
    height: 210px;
    background-color: rgba(71, 125, 17, 0.15);
    

}

.feature-caption{
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    color: #272727;
    font-size: 15px;
    font-weight: 700;

}

/* Offer style____> */

.offer-container{
    margin-top: 200px;
    max-width: 1922px;
}

.offer-header{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    padding: 50px;
}

.offer-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.btn-offer{
    border-radius: 8px;
    border: 0;
    padding: 15px;
    margin: 10px;
    background: #E55473;
    color: #fff;
    position: relative;
    
}


.highlight{
    color: #E55473;
}


/* ___social-media-page___ */
.social-container{
    margin: 200px;
    align-items: center;
    justify-content: space-between;
}

.post{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* ____ */
 
.subscript-part{
    align-items: center;
    background-image: url('/ima/Flower-Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    /* background-position: 40px ; */
    width: 100%;
    border-radius: 20px;
}

#email{
    line-height: 20px;
    padding: 20px;
    border-radius: 10px;  
    border: 0;
    
}

.type-box{
    padding: 65px;
}




/* ___FOoter:__ */
footer{
    background: #111010;
    width: 100%;
    text-align: center;
}

.footer-header{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 40px;
}

.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-weight: 400;
}

#copy-right{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    padding-bottom: 30px;
}

